<div class="jumbotron-fluid" style="background-color:#008ae6; margin-top:0px;">
  <div class="container">
    <div class="form-signin">
      <h2 class="form-signin-heading" style="color:white;">Go on my son! Sign in!</h2>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "form-signin"}) do |f| %>
        <div>
          <%= f.label :email, "Email Address", class: 'sr-only' %><br />
          <%= f.email_field :email, autofocus: true, class: 'form-control' %>
        </div>

        <div>
          <%= f.label :password, class: 'sr-only' %><br />
          <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
        </div>

        <% if devise_mapping.rememberable? -%>
          <label style="color:white;">
            <%= f.check_box :remember_me %>
            <%= f.label "Do you want to be remembered?" %>
          </label>
        <% end -%>

        <%= f.button t('.sign_in', default: 'Sign In'), class: 'btn btn-lg btn-primary btn-block', style: 'background-color:#ff3300' %>
      <% end %>


    </div>
    <%= render "users/shared/links" %>
  </div>
</div>
