<div class="container">

      <!-- Portfolio Item Heading -->
      <h1 class="my-4"><%= @tutorial.title %>
        <small><%= @tutorial.type_of_tutorial %></small>
      </h1>

      <!-- Portfolio Item Row -->
      <div class="row">

        <div class="col-md-8">
          <img class="img-fluid img-responsive"><%= image_tag @tutorial.avatar, size: "600x400" %></img>
        </div>

        <div class="col-md-4">
          <h3 class="my-3">Tutorial Description</h3>
          <p><%= @tutorial.description %></p>
          <h3 class="my-3">Tutorial Reviews</h3>
          <ul>
            <a href='/'><li>This will be...</li></a>
            <a href='/'><li>A list of links...</li></a>
            <a href='/'><li>to the corresponding...</li></a>
            <a href='/'><li>Tutorial reviews....</li></a>
          </ul>
          <h3 class="my-3">Average Rating</h3>
            <img class="img-fluid img-responsive" src="https://cdn-images-1.medium.com/max/1600/1*_AUJscqOjNFgQiL71_03Fw.png" alt="" style="width:700; height:170;">
        </div>

      </div>

      <h3 class="my-4">Related Tutorials</h3>

      <div class="row">
        <% @tutorials.each do |key, value| %>
          <div class="col-md-3 col-sm-6 mb-4">
            <%= link_to image_tag(@tutorials["#{key}"].avatar, size: "200x125", class: "img-fluid img-responsive"), "/tutorials/#{@tutorials["#{key}"].id}"%>
          </div>
        <% end %>
      </div>
    </div>
