<div class="jumbotron-fluid" style="background-color:#008ae6; margin-top:0px;">
  <div class="container">
    <div class="form-signup">
      <h2 class="form-signup-heading" style="color:white;">Welcome to the club!</h2>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: "form-signup"}) do |f| %>
        <%= devise_error_messages! %>

        <div>
          <p style="color:white;">Put your email address here</p>
          <%= f.label :email, "Email Address", class: "sr-only" %>
          <%= f.email_field :email, autofocus: true %>
        </div>

        <div>
          <p style="color:white;">And your password here</p>
          <%= f.label :password, "Password", class: "sr-only" %>
          <% if @minimum_password_length %>
          <em style="color:white;"><%= @minimum_password_length %> characters minimum if you please!</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "off" %>
        </div>

        <div>
          <p style="color:white;">Once more please!</p>
          <%= f.label :password_confirmation, "Password Confirmation", class: "sr-only" %>
          <%= f.password_field :password_confirmation, autocomplete: "off" %>
        </div>

        <%= f.button t('.sign_up', default: 'Sign Up'), class: 'btn btn-lg btn-primary btn-block', style: 'background-color:#ff3300' %>
      <% end %>
    </div>
    <%= render "users/shared/links" %>
  </div>
</div>
